postgres:
  enabled: false
  deploy_postgres: false
  password: ""
  uri: ""
  existingSecretName: ""
  existingSecretPasswordKey: ""
  existingSecretUriKey: ""
  service:
    type: ClusterIP
    nodePort:
      port:

sqlite:
  enabled: true

ingress:
  annotations: {}
  enabled: false
  ingressClassName: ""

nginx:
  service:
    type: ClusterIP
    nodePort:
      port:

service:
  tls:
    enabled: false
    existingSecretName: ""
    existingSecretCertKey: ""
    existingSecretKeyKey: ""
    cert: ""
    key: ""

slack:
  botToken: ""
  userToken: ""
  clientId: ""
  clientSecret: ""
  existingSecretName: ""
  existingSecretBotTokenKey: ""
  existingSecretUserTokenKey: ""
  existingSecretClientIdKey: ""
  existingSecretClientSecretKey: ""

slackernews:
  domain: ""
  adminUserEmails: ""

replicated:
  isEmbeddedCluster: false

images:
  pullSecrets:
    replicated:
      name: proxypullsecret
  nginx:
    registry: index.docker.io
    repository: library/nginx
    tag: 1.25.3
    pullPolicy: IfNotPresent
  slackernews:
    registry: $REGISTRY
    repository: $IMAGE
    tag: $VERSION
    pullPolicy: IfNotPresent
  postgres:
    registry: index.docker.io
    repository: library/postgres
    tag: 14
    pullPolicy: IfNotPresent
