apiVersion: v1
kind: Secret
metadata:
  name: slackernews-support-bundle
  labels:
    troubleshoot.sh/kind: support-bundle
stringData:
  support-bundle-spec: |-
    apiVersion: troubleshoot.sh/v1beta2
    kind: SupportBundle
    metadata:
      name: slackernews-support-bundle
    spec:
      collectors:
        - clusterInfo: {}
        - clusterResources:
          namespace: {{ .Release.Namespace }}
        - http:
            collectorName: slack
            get:
              url: https://api.slack.com/methods/api.test
              timeout: 90s
        - http:
            collectorName: helmValuesSlackUserToken
            post:
              url: https://slack.com/api/auth.test
              headers:
                Authorization: Bearer {{.Values.slack.userToken}}
              timeout: 90s
        - http:
            collectorName: helmValuesSlackBotToken
            post:
              url: https://slack.com/api/auth.test
              headers:
                Authorization: Bearer {{.Values.slack.botToken}}
              timeout: 90s
        - logs:
            namespace: {{ .Release.Namespace }}
            selector:
              - app=slackernews-nginx
        - logs:
            namespace: {{ .Release.Namespace }}
            selector:
              - app=slackernews
        - logs:
            selector:
              - app=postgres
      analyzers:
        - clusterVersion:
            outcomes:
            - fail:
                message: This application relies on kubernetes features only present in 1.16.0
                  and later.
                uri: https://kubernetes.io
                when: < 1.16.0
            - warn:
                message: Your cluster is running a version of kubernetes that is out of support.
                uri: https://kubernetes.io
                when: < 1.24.0
            - pass:
                message: Your cluster meets the recommended and quired versions of Kubernetes.
        - textAnalyze:
            checkName: Axios Errors
            fileName: slackernews-*/slackernews.log
            regex: "error - AxiosError"
            outcomes:
              - pass:
                  when: "false"
                  message: "Axios errors not found in logs"
              - fail:
                  when: "true"
                  message: "Axios errors found in logs"
        - textAnalyze:
            checkName: Slack Accessible
            fileName: slack.json
            regex: '"status": 200,'
            outcomes:
              - pass:
                  when: "true"
                  message: "Can access the Slack API"
              - fail:
                  when: "false"
                  message: "Cannot access the Slack API. Check that the server can reach the internet and check [status.slack.com](https://status.slack.com)."
        - nodeResources:
            checkName: One node must have 2 GB RAM and 1 CPU Cores
            filters:
              allocatableMemory: 2Gi
              cpuCapacity: "1"
            outcomes:
              - fail:
                  when: count() < 1
                  message: Cannot find a node with sufficient memory and cpu
              - pass:
                  message: Sufficient CPU and memory is available
        - textAnalyze:
            exclude: {{ eq .Values.slack.userToken  "" }}
            checkName: Slack User Token
            fileName: helmValuesSlackUserToken.json
            regex: ok\\":true
            outcomes:
              - fail:
                  when: "false"
                  message: No Valid Slack User token in helm values
              - pass:
                  when: "true"
                  message: Slack User Token valid
        - textAnalyze:
            exclude: {{ eq .Values.slack.botToken  "" }}
            checkName: Slack Bot Token
            fileName: helmValuesSlackBotToken.json
            regex: ok\\":true
            outcomes:
              - fail:
                  when: "false"
                  message: No Valid Slack Bot token in helm values
              - pass:
                  when: "true"
                  message: Slack Bot Token valid
        - textAnalyze:
            exclude: {{ eq .Values.slack.userToken  "" }}
            checkName: 'Enterprise Grid: User'
            fileName: helmValuesSlackUserToken.json
            regex: is_enterprise_install\\":false
            outcomes:
              - fail:
                  when: "false"
                  message: Slack Enterprise Grid installations are not supported
              - pass:
                  when: "true"
                  message: Confirmed that user token is not for a Slack Enterprise Grid installation
        - textAnalyze:
            exclude: {{ eq .Values.slack.botToken  "" }}
            checkName: 'Enterprise Grid: Bot'
            fileName: helmValuesSlackBotToken.json
            regex: is_enterprise_install\\":false
            outcomes:
              - fail:
                  when: "false"
                  message: Slack Enterprise Grid installations are not supported
              - pass:
                  when: "true"
                  message: Confirmed that bot token is not for a Slack Enterprise Grid installation
        - distribution:
            outcomes:
              - warn:
                  when: "== docker-desktop"
                  message: This application has not been tested on Docker Desktop
              - warn:
                  message: This Kubernetes platform is not regularly tested, but there are no known compatibility issues.
